#preview-container {
    width: 20vw;
    height: 40vh;
    border: 2px solid #000000;
    padding: 5%;
    border-radius: 50px;
    background-color: #ffeebb;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0% 0% 4% 0%;
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#preview-container:hover {
    background-color: #65aeebaa;
    transition: 0.5s;
}

#preview-container a {
    text-decoration: none;
    color: #000000;
}

#preview-container h2 {
    margin: 2% 0%;
    padding: 0;
}

#preview-container h3 {
    margin: 0;
    padding: 0;
    color: #444;
}

#preview-container img {
    width: 80%;
    min-height: 100px;
    max-height: 200px;
    border: 1px solid #000000;
}

#preview-container img:hover {
    border-radius: 50%;
    transition: 0.5s;
}

#preview-container img:not(:hover) {
    border-radius: 50px;
    transition: 0.5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#preview-container::-webkit-scrollbar {
    display: none;
}