#header-title-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 0% 0% 0%;
}

#header-title-section h1 {
    font-size: 3rem;
    margin: 0% 4% 0% 0%;
    color: #F6F0EA;
    text-shadow: 2px 2px 2px #000000;
}

#header {
    text-align: center;
    background-color: #2A798077;
    border-radius: 0px 0px 120px 120px;
    border: 1px solid #000000;
    margin-bottom: 3%;
    position: sticky;
    top: 0;
}

#header h2 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5% 0%;
    color: #F6F0EA;
    text-shadow: 2px 2px 2px #000000;
}

#menu-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1%;
}

.asana-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-results {
    font-size: 2rem;
    text-align: center;
    margin-top: 10%;
    color: #2A7980;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
}
