#header {
    height: 40vh;
    background-image: url("../../assets/imgs/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    text-shadow: 2px 2px 0px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -30vh;
    z-index: 10;
}

#header h1 {
    margin: 0 -3vw 0 0;
    padding: 0;
    letter-spacing: 3vw;
    font-size: clamp(2rem, 5vw, 6rem);
}

#header h2 {
    margin: 0;
    font-size: clamp(1.4rem, 2vw, 3rem);
}

#toggle-switch {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(15px + 1.5vw);
}

#toggle-switch span {
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: #000;
    text-shadow: 2px 2px 0px #fff;
    font-weight: bolder;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    position: sticky;
    top: calc((10vh - 34px) / 2);
}

#asanas-view,
#morfemas-view {
    text-align: center;
    margin: 6vh 0 3vh 0;
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
}

#asanas-view {
    background-color: #2A798055;
    transition: all 0.5s;
}

#morfemas-view {
    background-color: #c2a7cd99;
    transition: all 0.5s;
}

#menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5vh 0;
}

.menu-content-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh 4vw;
}

#no-results {
    font-size: clamp(1.2rem, 5vw, 3rem);
    text-align: center;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
}

@media only screen and (min-width: 768px) {
    .menu-content-item {
        margin: 1.5vh 1.5vw;
    }
}