#single-asana-header {
    display: flex;
}

#go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: calc(50px + 3vw);
    width: 30%;
    color: #FFF;
    background-color: #2A7980;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

#go-back:not(:hover) {
    border: 1px solid #2A7980;
    background-color: #2A7980;
    transition: 0.4s;
}

#go-back:hover {
    border: 1px solid #FFF;
    background-color: #2A7980BB;
    transition: 0.4s;
}

#go-back span {
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: bold;
    margin-left: 10%;
}

#back-icon {
    width: calc(20px + 1.5vw);
    height: calc(20px + 1.5vw);
}

#asana-name {
    box-sizing: border-box;
    background-color: #2A798055;
    width: 70%;
    height: calc(50px + 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

#single-asana-header h1 {
    font-size: clamp(1.5rem, 4vw, 5rem);
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img-posture {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0px #00000099;
    margin: 5vh 0;
}

#img-posture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.subtitle {
    font-size: clamp(2rem, 3vw, 6rem);
    margin: 0 0 3vh 0;
    color: #2A7980;
    text-shadow: 2px 2px 1px #fff;
    text-align: center;
}

#translations {
    font-size: clamp(1rem, 1.5vw, 3rem);
    padding: 0 5vw;
    text-align: center;
    border-radius: 20px;
    background-color: #2A798055;
    margin: 0 0 5vh 0;
    box-shadow: 1px 4px 5px 0px #00000099;
}

#translations h3 {
    margin: 2vh 0;
}

#translations h3:hover {
    color: #fff;
    text-shadow: 2px 2px 1px #2A7980;
    transition: 0.4s;
}

#translations h3:not(:hover) {
    text-shadow: 2px 2px 1px #fff;
    transition: 0.6s;
}

#morphemes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.morpheme-container {
    margin: 1.5vw 1.5vw;
    padding: 15px;
    box-shadow: 1px 4px 5px 0px #00000099;
    text-align: center;
    border-radius: 20px;
}

.morpheme-container:hover {
    background-color: #ded0e455;
    transition: 0.4s;
}

.morpheme-container:not(:hover) {
    background-color: #c2a7cd99;
    transition: 0.4s;
}

.morpheme-name {
    font-size: clamp(1.5rem, 2.5vw, 6rem);
    font-weight: bold;
    color: #a153ab;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
}

.morpheme-meaning {
    font-size: clamp(1rem, 1.5vw, 3rem);
    text-shadow: 0.3px 0.3px 0.3px #000000;
    margin: 0;
}

#asana-video {
    width: 70vw;
    height: 39vw;
    border: none;
    margin: 0 0 50px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px #00000099;
}

@media only screen and (min-width: 768px) {
    #img-posture {
        width: 25vw;
        height: 25vw;
    }
}