#spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#spinner {
    border-top: 6px solid #2A7980;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

#spinner2 {
    border: 6px solid #737F8688;
    border-top: 6px solid #2A7980;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin2 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}