#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#search-bar input {
    width: 80%;
    height: 35px;
    border-right: none;
    padding-left: 10px;
    outline: none;
}

#search-bar input:hover {
    border: 1px solid #2A7980;
    transition: 0.4s;
}

#search-bar input:not(:hover) {
    border: 1px solid #00000000;
    transition: 0.4s;
}

#search-bar button {
    height: 39px;
    color: #FFF;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#search-bar #search-button {
    width: 20%;
}

#search-bar #reset-button {
    width: 20%;
}

.green-button:not(:hover) {
    border: 1px solid #2A7980;
    background-color: #2A7980;
    transition: 0.4s;
}

.purple-button:not(:hover) {
    border: 1px solid #a163ab;
    background-color: #a163ab;
    transition: 0.4s;
}

.green-button:hover {
    border: 1px solid #FFF;
    background-color: #2A7980BB;
    transition: 0.4s;
}

.purple-button:hover {
    border: 1px solid #FFF;
    background-color: #a153abBB;
    transition: 0.4s;
}

#search-bar #search-button img {
    width: 20px;
    height: 20px;
}

#search-bar #reset-button img {
    width: 20px;
    height: 15px;
}

#reset-icon {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #search-bar input {
        padding-left: 20px;
    }

    #search-bar #reset-button {
        width: 10%;
    }
}