#preview-container {
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 15px 0px #00000099;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    overflow: hidden;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#preview-container h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px 2px #FFF;
    color: #149b9c;
}

#preview-container h3 {
    margin: 0;
    padding: 0;
    color: #444;
    text-align: center;
    text-shadow: 2px 2px 2px #FFF;
}

#preview-container img {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
}

#preview-container:hover img {
    height: 115%;
    opacity: 0.8;
    transition: 0.5s;
}

#preview-container:hover #preview-info {
    background-color: #9ecfd3AA;
    transition: 0.5s;
}

#preview-container:not(:hover) img {
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

#preview-container:not(:hover) #preview-info {
    background-color: #9ecfd355;
    transition: 0.5s;
}

#preview-info {
    padding: 10%;
    border-radius: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#preview-container::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 768px) {
    #preview-container {
        width: 300px;
        height: 300px;
    }
}
