body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    background: url('../assets/imgs/background-pattern.png');
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}