#container {
    border-radius: 20px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px 0px #00000099;
}

#container:hover {
    background-color: #c3a7ccaa;
    transition: background-color 0.5s;
}

#container:not(:hover) {
    background-color: #c3a7ccee;
    transition: background-color 0.5s;
}

#container h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bold;
    color: #a163ab;
    text-shadow: 2px 2px 1px #fff;
    margin: 0;
}

#morpheme-translations {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    font-weight: bold;
    text-shadow: 2px 2px 1px #fff;
    background-color: #ded0e4;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 25px;
    box-shadow: 3px 3px 5px 0px #00000099;
}

.translation {
    position: relative;
}

.translation div {
    position: absolute;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    border-radius: 10px;
}

.translation:hover div {
    width: 100%;
    transition: width 0.4s ease-out;
}

.translation:not(:hover) div {
    width: 2%;
    transition: width 0.4s ease-out;
}

.translation p {
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    margin: 0;
}